@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

// colors
$lime_green: hsl(163, 72%, 41%);
$bright_red: hsl(356, 69%, 56%);
$text_blue: hsl(228, 34%, 66%);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;;
    font-size: 14px;
    background: linear-gradient(180deg, hsl(232, 19%, 15% ) 30% , hsl(230, 17%, 14%) 0% );
    color: #ffffff;
    
}

.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 10px;
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &__title{
        padding: 5px;
    }
}

.title{
    padding-bottom: 20px;

    &__name{
        font-size: 22px;
    }

    &__total{
        color: $text_blue;
    }
}

.followers_block{
    display: flex;
    justify-content: space-between;
}

.followers{
    flex: 0 0 calc(25% - 25px);
    width: 250px;
    height: 200px;
    border-top: 4px solid #178FF5;
    border-radius: 5px;
    background: hsl(228, 28%, 20%);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &:hover{
        background: #303755;
    }

    &::before{
        content:'';
        position:absolute;
        width:100%;
        height:4px;
        top:-4px;
        left:0;
        border-radius: 5px 5px 0 0 ;
    }

    &__link{
        text-decoration: none;
        color: $text_blue;
        margin-top: 30px;
        display: flex;
        align-items: center;
    }

    &__icon{
        margin-right: 5px;
    }

    &__sum{
        font-size: 40px;
        margin-bottom: -20px;
    }

    &__title{
        color: $text_blue;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    &__today{
        padding-bottom: 25px;
        display: flex;
        align-items: center;

        &--up{
            color: $lime_green;
        }

        &--down{
            color: $bright_red;
        }
    }

}

.folowers--twitter::before{
    background: #1DA1F2;
}
.folowers--instagram::before{
    background:linear-gradient(to left, #DF4896 0% , #EE877E 50%, #FDC366 100%);
    
}

.folowers--youtube::before{
    background: #C4032B;
}

.overview__title{
    margin-top: 40px;
}

.likes_counter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.likes{
    flex: 0 0 calc(25% - 25px);
    width: 250px;
    height: 120px;
    background:  hsl(228, 28%, 20%);
    margin-top: 15px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;

    &:hover{
        background: #303755;
    }

    &__title, &__icon, &__num, &__percent {
        flex: 0 0 50%;
        text-align: center;
    }

    &__title {
        padding: 20px 0 10px 15px;
        text-align-last: left;
        color: $text_blue;
    }

    &__icon{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px; 
    }

    &__num{
        font-size: 25px;
        font-weight: 700;
        text-align-last: left;
        padding-left: 15px;
    }

    &__percent{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 20px 20px 0;
        &--up{
            color: $lime_green;
        }
        &--down{
            color: $bright_red;
        }
    }
}

/* Switch theme checkbox */

.switch {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 100px;
    padding: 3 0;
  }
  
  .switch__input, .switch__label {
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .switch__input {
    margin: 0;
    padding: 0;
    opacity: 0;
    height: 0;
    width: 0;
    pointer-events: none;
  
    &:checked + .switch__label {
      background-color: hsl(230, 22%, 74%);
    }
  
    &:checked + .switch__label + .switch__marker {
      left: calc(100% - 25px + 3px);
    }
  
    
  }
  
  .switch__label {
    width: 100%;
    height: 100%;
    color: transparent;    
    user-select: none;
    background: linear-gradient(90deg, #1b79d7 0%, #23f67e 100%);
    border-radius: inherit;
    z-index: 1;
    transition: background .2s;
  }
  
  .switch__marker {
    position: relative;
    background-color: hsl(230, 17%, 14%);
    width: calc(25px - 3px * 2);
    height: calc(25px - 3px * 2);
    border-radius: 50%;
    z-index: 2;
    pointer-events: none;
    left: 3px;
    transition: left .2s;
    will-change: left;
  }

/* Light theme styles */

body[data-theme="light"] {
    background: linear-gradient(180deg, hsl(225, 100%, 98%) 30% , hsl(0, 0%, 100%) 0% );
    color: hsl(230, 17%, 14%); 
  }

body[data-theme="light"] .followers, body[data-theme="light"] .likes {
    background: hsl(227, 47%, 96%);
    &:hover{
        background: #e2e4f1;
    }
    
}

body[data-theme="light"] .switch__marker{
    background-color: hsl(225, 100%, 98%);
}

body[data-theme="light"] .switch__label{
    background: hsl(230, 22%, 74%);
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }