.container{
    max-width: 1110px;
    
}

.followers_block{
    display: flex;
    justify-content: space-between;
}






.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }